.button{
  width: 115px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.25rem;
  padding: 1.2rem 1rem;
  font-weight: bold;
  text-decoration: none;
}

.button--primary{
  background-color: var(--orange);
  color: var(--dark-blue);
}

.button--secondary{
  background-color: transparent;
  color: var(--dark-blue);
  border: 2px solid var(--dark-blue);
}