
/* Global Variables */
:root{
  --white: #FFFFFF;
  --orange: #FF9F1C;
  --dark-blue: #011627;
  --light-blue: #2EC4B6;
  --gray: rgba(1, 22, 9, .2);
  --bg-gray: #F6F6F6;
  --gray-text: rgba(255, 255, 255, .6);
  --red: #A81111; 
  --max-width: 1440px;
}

[data-theme="light"]{
  --color-bg: #FFFFFF;
  --color-text: #011627;
  --color-anchor: #2EC4B6;
}

[data-theme="dark"]{
  --color-bg: #0F0F0F;
  --color-text: #FFFFFF;
  --color-anchor: #2EC4B6;
}

*{
  box-sizing: border-box;
}

.body{
  padding: 0;
  margin: 0;
}
