.workHero__wrapper{
  background-image: url("/assets/images/logo-landing.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 100% 0;
  height: calc(100vh - 83px);
}

.workHero{
  max-width: var(--max-width);
  height: 100%;
  margin: 0 auto;
  padding: 3rem;
  position: relative;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

.workHero__title{
  grid-area:  1  / span 2;
  place-self: end;
  margin: 0;
}

.workHero__description{
  grid-area: 2  /  span 2;
}

@media screen and (max-width: 768px) {
  .workHero__wrapper{
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: 100% 1rem;
    height: auto;
  }

  .workHero{
    display: block;
    height: auto;
    padding: 2rem;
  }
}