---
import "../styles/global.css";
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import { SITE_DESCRIPTION, SITE_TITLE } from '../config';
---
<html lang="es">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION}/>
  </head>
  <body>
    <Header />
  </body>
</html>
<style>
  body{
    margin: 0;
  }
</style>