---
import Whale from '@components/Whale.astro';
import "@styles/global.css";
import BaseHead from '@components/BaseHead.astro';
import { SITE_DESCRIPTION, SITE_TITLE } from '@root/config';
---
<html lang="es">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION}/>
  </head>
  <body>
    <h1>Tania Espitia - UI/UX Designer</h1>
    <Whale />
    <blockquote>"Se tu propia inspiración"</blockquote>
    <small>¡Muy pronto!</small>
    <span>Animación: <a href="https://codepen.io/tdoughty/pen/ZZqgQq" rel="no-follow" target="_blank">Travis Doughty</a></span>
  </body>
</html>
<style>

  body{
    padding: 4rem 0;
    font-weight: normal;
    flex-direction: column;
    overflow-x: scroll;
    justify-content: flex-start;
    align-items: center;
    background-color: var(--white);
    color: (var(--dark-blue));
}

  h1 {
    color: var(--light-blue);
    margin: 0;
    margin-bottom: 1rem;
    text-align: center;
  }
  blockquote{
    font-size: 1.3rem;
    font-weight: 600;
  }
  small{
    font-size: 1.2rem;
  }
  span{
    margin: 10px 0;
    display: block;
    font-size: .9rem;
    color: var(--dark-blue);
  }

  a{
    color: var(--orange);;
  }

  a:hover{
    color: var(--light-blue);;
  }

  @media screen and (max-width: 768px){
    h1{
      font-size: 1.4rem;
    }
    blockquote{
    font-size: 1.3rem;
    }
    small{
      font-size: 1rem;
    }
  }
</style>