---
 import "@styles/about.css";
---
<div class="about__wrapper">
  <section class="about">
    <article class="about__item">
      <h2 class="about__title">Acerca de mi</h2>
      <p class="about__description">Soy Diseñadora UX/UI con más de cinco años de experiencia en tecnología. Mi conocimiento en prototipado, wireframing, user flows y mockups me ha permitido colaborar con marcas como: BBC Cervecería, Michelob, Corona, entre otros. Creando productos modernos e implementando Design Thinking. Participando activamente en user research, pruebas de usabilidad, arquitectura de información (IA) e implementando Diseño centrado en usuarios (UCD).</p>
      <p class="about__description">Aprendo constantemente sobre las tendencias de diseño y exploro nuevas oportunidades de crecimiento. La creatividad es mi principal aliada, entendiéndose como la capacidad de encontrar y llevar a cabo las mejores soluciones.</p>
    </article>
    <article class="about__item skills__container">
      <div class="skills__item">
        <h3 class="skills__title">
          Herramientas
        </h3>
        <picture class="skills__picture">
          <source srcset="/assets/images/skills-tools-lg.svg" media="(min-width: 768px)">
          <source srcset="/assets/images/skills-tools-sm.svg" media="(max-width: 768px)">
          <img src="/assets/images/skills-tools-lg.svg" alt="Herramientas" loading="lazy">
        </picture>
      </div>
      <div class="skills__item">
        <h3 class="skills__title">
          Habilidades Técnicas
        </h3>
        <picture class="skills__picture">
          <source srcset="/assets/images/skills-hard-lg.svg" media="(min-width: 768px)">
          <source srcset="/assets/images/skills-hard-sm.svg" media="(max-width: 768px)">
          <img src="/assets/images/skills-hard-lg.svg" alt="Habilidades Tecnicas" loading="lazy">
        </picture>
      </div>
      <div class="skills__item">
        <h3 class="skills__title">
          Habilidades Blandas
        </h3>
        <picture class="skills__picture">
          <source srcset="/assets/images/skills-soft-lg.svg" media="(min-width: 768px)">
          <source srcset="/assets/images/skills-soft-sm.svg" media="(max-width: 768px)">
          <img src="/assets/images/skills-soft-lg.svg" alt="Habilidades blandas" loading="lazy">
        </picture>
      </div>
    </article>
  </section>
</div>
