---
import "@styles/about.css";
---

<div class="about__wrapper">
  <section class="about">
    <article class="about__item">
      <h2 class="about__title">About me</h2>
      <p class="about__description">
        I am a UX/UI Designer with over five years of experience in technology.
        My expertise in prototyping, wireframing, user flows, and mockups has
        allowed me to collaborate with brands such as BBC Cervecería, Michelob,
        Corona, among others. Creating modern products and implementing Design
        Thinking, I actively participate in user research, usability testing,
        information architecture (IA), and user-centered design (UCD)
        implementation.
      </p>
      <p class="about__description">
        I am constantly learning about design trends and exploring new growth
        opportunities. Creativity is my main ally, understood as the ability to
        find and implement the best solutions.
      </p>
    </article>
    <article class="about__item skills__container">
      <div class="skills__item">
        <h3 class="skills__title">Tools</h3>
        <picture class="skills__picture">
          <source
            srcset="/assets/images/skills-tools-lg.svg"
            media="(min-width: 768px)"
          />
          <source
            srcset="/assets/images/skills-tools-sm.svg"
            media="(max-width: 768px)"
          />
          <img
            src="/assets/images/skills-tools-lg.svg"
            alt="Herramientas"
            loading="lazy"
          />
        </picture>
      </div>
      <div class="skills__item">
        <h3 class="skills__title">Hard Skills</h3>
        <picture class="skills__picture">
          <source
            srcset="/assets/images/skills-hard-lg.svg"
            media="(min-width: 768px)"
          />
          <source
            srcset="/assets/images/skills-hard-sm.svg"
            media="(max-width: 768px)"
          />
          <img
            src="/assets/images/skills-hard-lg.svg"
            alt="Habilidades Tecnicas"
            loading="lazy"
          />
        </picture>
      </div>
      <div class="skills__item">
        <h3 class="skills__title">Soft Skills</h3>
        <picture class="skills__picture">
          <source
            srcset="/assets/images/skills-soft-lg.svg"
            media="(min-width: 768px)"
          />
          <source
            srcset="/assets/images/skills-soft-sm.svg"
            media="(max-width: 768px)"
          />
          <img
            src="/assets/images/skills-soft-lg.svg"
            alt="Habilidades blandas"
            loading="lazy"
          />
        </picture>
      </div>
    </article>
  </section>
</div>
