---
  import "../styles/brief-works.css";
---
<div class="feature__wrapper">
  <section class="feature">
    <article class="feature__item feature--description">
      <h3 class="feature__subtitle">Trabajos</h3>
      <h2 class="feature__title">Mejores proyectos y colaboraciones</h2>
      <p class="feature__description">A lo largo de los años he tenido la oportunidad de trabajar con marcas reconocidas a nivel nacional e internacional. Adicional, el aprendizaje constante ha sido una oportunidad para brindar soluciones a problemáticas por medio de propuestas creativas presentadas como casos de estudio.</p>
    </article>
    <article class="feature__item feature--works card__container">
      <div class="card">
        <h3 class="card__title">Colaboraciones</h3>
        <p class="card__description">He trabajado con marcas como:</p>
        <ul class="card__list">
          <li class="card__item">
            <a href="#" class="card__link">
              <img src="/assets/images/card-arrow.svg" class="card__image" alt="Card Arrow">
              <span>BBC cervecería</span>  
            </a>
          </li>
          <li class="card__item">
            <a href="#" class="card__link">
              <img src="/assets/images/card-arrow.svg" class="card__image" alt="Card Arrow">
              <span>Michelob (Runnder)</span> 
            </a>
          </li>
          <li class="card__item">
            <a href="#" class="card__link">
              <img src="/assets/images/card-arrow.svg" class="card__image" alt="Card Arrow">
              <span class="card__link__text">Universidad de los Andes (Fauny)</span>
            </a>
          </li>
        </ul>
        <a href="#" class="card__showmore">
          <span>Ver Más</span>
          <img class="card__arrow" src="/assets/images/arrow-right.svg" alt="Arrow right">
        </a>
      </div>
      <div class="card">
        <h3 class="card__title">Casos de estudio</h3>
        <p class="card__description">Por medio de propuestas creativas he brindado soluciones a problemáticas del entorno</p>
         <ul class="card__list">
          <li class="card__item">
            <a href="#" class="card__link">
              <img src="/assets/images/card-arrow.svg" class="card__image" alt="Card Arrow">
              BBC cervecería
            </a>
          </li>
          <li class="card__item">
            <a href="#" class="card__link">
              <img src="/assets/images/card-arrow.svg" class="card__image" alt="Card Arrow">
              Michelob (Runnder)
            </a>
          </li>
          <li class="card__item">
            <a href="#" class="card__link">
              <img src="/assets/images/card-arrow.svg" class="card__image" alt="Card Arrow">
              Universidad de los Andes (Fauny)
            </a>
          </li>
        </ul>
        <a href="#" class="card__showmore">
          <span>Ver Más</span>
          <img class="card__arrow"  src="/assets/images/arrow-right.svg" alt="Arrow right">
        </a>
      </div>
    </article>
  </section>
</div>