---
import "@styles/brief-works.css";
import { getCollection } from "astro:content";

const CollaborationsWork = await getCollection("work", ({ data }) => {
  return data.category === "COLLABORATIONS";
});

const StudyCasesWork = await getCollection("work", ({ data }) => {
  return data.category === "STUDY-CASES";
});
---

<div class="feature__wrapper">
  <section class="feature">
    <article class="feature__item feature--description">
      <h3 class="feature__subtitle">Work</h3>
      <h2 class="feature__title">Top Projects and Collaborations</h2>
      <p class="feature__description">
        Throughout the years, I have had the opportunity to work with nationally
        and internationally recognized brands. Additionally, continuous learning
        has provided the chance to offer solutions to challenges through
        creative proposals presented as case studies
      </p>
    </article>
    <article class="feature__item feature--works card__container">
      <div class="card">
        <h3 class="card__title">Collaborations</h3>
        <p class="card__description">I have worked with brands such as:</p>
        <ul class="card__list">
          {
            CollaborationsWork.map((work) => (
              <li class="card__item">
                <a
                  href={`/work/${work.slug}`}
                  aria-label="Collaborations"
                  class="card__link"
                >
                  <img
                    src="/assets/images/card-arrow.svg"
                    class="card__image"
                    alt="Card Arrow"
                  />
                  <span class="card__link__text">{work.data.titleLink}</span>
                </a>
              </li>
            ))
          }
        </ul>
        <a href="/work#tabs" aria-label="work tab" class="card__showmore">
          <span>View more</span>
          <img
            src="/assets/images/arrow-right.svg"
            alt="Arrow right"
            class="card__arrow"
          />
        </a>
      </div>
      <div class="card">
        <h3 class="card__title">Case Studies</h3>
        <p class="card__description">
          Through creative proposals, I have provided solutions to environmental
          challenges
        </p>
        <ul class="card__list">
          {
            StudyCasesWork.map((work) => (
              <li class="card__item">
                <a
                  href={`/work/${work.slug}`}
                  aria-label="Study Cases"
                  class="card__link"
                >
                  <img
                    src="/assets/images/card-arrow.svg"
                    class="card__image"
                    alt="Card Arrow"
                  />
                  <span class="card__link__text">{work.data.titleLink}</span>
                </a>
              </li>
            ))
          }
        </ul>
        <a href="/work#tabs" aria-label="Work tab" class="card__showmore">
          <span>View more</span>
          <img
            src="/assets/images/arrow-right.svg"
            alt="Arrow right"
            class="card__arrow"
          />
        </a>
      </div>
    </article>
  </section>
</div>
