---
  import "../styles/brief.css";
  import Button from './Button.astro';
---
<div class="brief__wrapper">
  <section class="brief">
    <article class="brief__item">
      <h2 class="brief__title">Mi carrera hasta ahora</h2>
      <p class="brief__description">En lo recorrido estos 5 años he tenido la oportunidad de trabajar en empresas como Prodigious y 150 Por ciento, desempeñando cargos como Front-End y UX/UI Designer. Creando páginas web y apps para proyectos relacionados con cervecería, estilo de vida, retos y experiencias. Partiendo de ideas innovadoras que implemento con creatividad y profesionalismo.</p>
      <Button children="Ver Más" variation="primary" type="link" link="/about"/>
    </article>
    <article class="brief__item">
      <picture class="brief__picture">
        <source class="brief__picture" srcset="/assets/images/badges-about-mobile.svg" media="(max-width: 768px)"/>
        <source  class="brief__picture" srcset="/assets/images/badges-about-desktop.svg" media="(min-width: 768px)"/>
        <img class="brief__picture" src="/assets/images/badges-about-desktop.svg" alt="Tech Skills">
      </picture>
    </article>
  </section>
</div>