---
import "../styles/education.css"

interface Education {
  name: string;
  location: string;
  date: string;
}

const educationData: Education[] = [
  {
    "name": "Marketing y Publicidad",
    "location": "UNIR, Bogotá",
    "date": "Agosto 2022 - Actualmente"
  },
  {
    "name": "Publicidad",
    "location": "Universidad Central, Bogotá",
    "date": "Agosto 2022 - Actualmente"
  },
  {
    "name": "Tecnólogo en Producción de multimedia",
    "location": "SENA, Bogotá",
    "date": "Abril 2015 - Abril 2017"
  },
  {
    "name": "Diseño UX/UI",
    "location": "Coderhouse, Bogotá",
    "date": "Diciembre 2020"
  },
  {
    "name": "Microdegree para UX/UI Designer",
    "location": "Crehana, Bogotá",
    "date": "Junio 2020"
  },
]

---
<div class="education__wrapper">
  <section class="education">
    <h2 class="education__title">Educación</h2>
    <div class="education__grid">
      {educationData.map(({name, location, date}: Education) => (
        <article class="education__item">
          <h3 class="education__item--title">{name}</h3>
          <h4 class="education__subtitle">{location}</h4>
          <small class="education__date">{date}</small>
        </article>
      ))}
    </div>
  </section>
</div>