---
import "@styles/footer.css"
---
<div class="wrapper__footer" id="contact">
  <footer class="footer">
    <article class="footer__item footer--spot">
      <h2 class="large-black-title footer__title">Busco lo mejor en todo lo que creo</h2>
      <div class="socialmedia">
        <a href="#" class="socialmedia__link">
          <img class="socialmedia__image" src="/assets/images/behance.svg" alt="Behance">
        </a>
         <a href="#" class="socialmedia__link">
          <img class="socialmedia__image" src="/assets/images/linkedin.svg" alt="linkedin">
        </a>
      </div>
    </article>
    <article class="footer__item footer--menu">
      <nav class="explore">
        <h4 class="explore__title">
          Explorar
        </h4>
        <ul class="explore__list">
          <li class="explore__item">
            <a href="/home" class="explore__link">
              Home
            </a>
          </li>
          <li class="explore__item">
            <a href="/work" class="explore__link">
              Work
            </a>
          </li>
          <li class="explore__item">
            <a href="/about" class="explore__link">
              About
            </a>
          </li>
          <li class="explore__item">
            <a href="/contact" class="explore__link">
              Contact
            </a>
          </li>
        </ul>
      </nav>
      <nav class="contact">
        <h4 class="contact__title">Contáctame</h4>
        <ul class="contact__list">
          <li class="contact__item">
            <a href="mailto:taniav9@hotmail.com" class="contact__link">
              taniav9@hotmail.com
            </a>
          </li>
        </ul>
      </nav>
    </article>
    <p class="copyright">&copy; 2023, Tania Espitia. Todos los derechos reservados.</p>
  </footer>
</div>