---
  import "../styles/header.css";
  const pathname = new URL(Astro.request.url).pathname;
  const currentPath = pathname.slice(1);
---
<div class="wrapper__header">
  <header class="header">
    <a href="/" class="logo">
      <img class="logo__image" src="/assets/images/logotipo-tania-espitia.svg" alt="Tania Espitia Logotipo">
    </a>
    <!-- Desktop Menu -->
    <nav class="menu">
      <ul class="menu__list">
        <li class="menu__item">
          <a class={`menu__link ${currentPath === "work" ? "active" : null}`} href="/work">Work</a>
        </li>
        <li class="menu__item">
          <a class={`menu__link ${currentPath === "about" ? "active" : null}`} href="/about">About</a>
        </li>
        <li class="menu__item">
          <a class={`menu__link ${currentPath === "contact" ? "active" : null}`} href="#contact">Contact</a>
        </li>
      </ul>
    </nav>
    <div class="languages">
      <a class="languages__link" href="#">ES</a>
      <a class="languages__link" href="#">EN</a>
    </div>
    <button type="button" class="burger" id="js-burger-menu">
      <img class="burger__avatar" src="/assets/images/burger-open.svg" alt="Burger Icon" id="js-burger-image">
      <span class="burger__icon"></span>
    </button>
  </header>
</div>
<nav class="mobileMenu" id="js-mobile-menu">
  <ul class="mobileMenu__list">
    <li class="mobileMenu__item">
      <a class={`mobileMenu__link ${currentPath === "work" ? "active" : null}`} href="/work">Work</a>
    </li>
    <li class="mobileMenu__item">
      <a class={`mobileMenu__link ${currentPath === "about" ? "active" : null}`} href="/about">About</a>
    </li>
    <li class="mobileMenu__item">
      <a class={`mobileMenu__link ${currentPath === "contact" ? "active" : null}`} href="#contact">Contact</a>
    </li>
  </ul>
  <div class="mobileLanguages">
    <a class="mobileLanguages__link" href="#">ES</a>
    <a class="mobileLanguages__link" href="#">EN</a>
  </div>
  <div class="social">
    <a href="#" class="social__link">Behance</a>
    <a href="#" class="social__link">Linkedin</a>
  </div>
</nav>
<script>
  let toggle = false;
  const $burgerButton = document.getElementById("js-burger-menu");
  const $burgerImage = document.getElementById("js-burger-image") as HTMLImageElement;
  const $mobileMenu   = document.getElementById("js-mobile-menu");
  const burgerOpenFile = `/assets/images/burger-open.svg`;
  const burgerCloseFile = `/assets/images/burger-close.svg`;
  
  const toggleMenu = () => {
    $mobileMenu.classList.toggle("open");
    toggle = !toggle; 
    if(toggle){
      $burgerImage.src = `${burgerCloseFile}`;
    } else {
      $burgerImage.src = `${burgerOpenFile}`;
    }
    console.log("Toggle Menu");
  }

  $burgerButton.addEventListener("click", toggleMenu);
  
</script>