---
import "../styles/hero-landing.css"
import Button from './Button.astro';
---
<section class="wrapper__hero">
  <article class="hero">
    <div class="hero__content">
      <h1 class="hero__title large-black-title">
        ¡Hola! Soy Tania Espitia, <br/> Diseñadora UX/UI
      </h1>
      <Button children="Ver Más" variation="primary" type="link" link="/about"/>
    </div>
    <div class="hero__footer">
      <button type="button" class="hero__button" id="js-scroll-down">
        <picture>
          <source srcset="/assets/images/touch-scroll.svg" media="(max-width: 768px)"/>
          <source srcset="/assets/images/mouse-scroll.svg" media="(min-width: 768px)"/>
          <img src="/assets/images/mouse-scroll.svg" alt="Scroll Down">
        </picture>
      </button>
    </div>
  </article>
</section>
<script>
  const $scrollButton = document.querySelector("#js-scroll-down");

  const scrollDown = () => window.scrollBy({
    top: window.innerHeight,
    behavior: "smooth"
  });

  $scrollButton.addEventListener("click", scrollDown);
</script>