---
 import "../styles/work-hero.css"
---
<div class="workHero__wrapper">
  <section class="workHero">
    <h1 class="workHero__title">Lorem ipsum dolor sit amet consectetur. Ornare facilisis.</h1>
    <p  class="workHero__description">Lorem ipsum dolor sit amet consectetur. Diam urna volutpat morbi facilisis magnis ut amet at commodo. Tempus pretium odio malesuada duis. Ornare lectus enim aliquam non viverra sed senectus risus phasellus. Facilisi laoreet congue quis tellus facilisi sed venenatis tempus. Posuere sollicitudin arcu.</p>
  </section>
</div>