---
 import "@styles/work-hero.css"
---
<div class="workHero__wrapper">
  <section class="workHero">
    <h1 class="workHero__title">Descubre cómo se llevaron a cabo los proyectos</h1>
    <p  class="workHero__description">Estos se dividen en casos de estudio, que se realizaron con el objetivo de adquirir nuevos conocimientos, y colaboraciones con empresas como Michelob, BBC Cervecería y la Universidad de los Andes.</p>
  </section>
</div>