---
import "@styles/work-hero.css";
---

<div class="workHero__wrapper">
  <section class="workHero">
    <h1 class="workHero__title">Discover how the projects were executed.</h1>
    <p class="workHero__description">
      These are divided into case studies, undertaken with the aim of gaining
      new insights, and collaborations with companies such as Michelob, BBC
      Cervecería, and the University of the Andes.
    </p>
  </section>
</div>
