---
import { getCollection } from 'astro:content';
import WorkEntry from '@layouts/WorkEntry.astro';


export async function getStaticPaths(){
	const workEntries = await getCollection('work');
	return workEntries.map(work => ({
		params: {slug: work.slug}, props: { work } 
	}))
}

const { work } = Astro.props;
const { Content } = await work.render();

---

<WorkEntry {...work.data}>
	<h1>{work.data.title}</h1>
	<Content />
</WorkEntry>
