---
import { CollectionEntry, getCollection } from 'astro:content';
import WorkEntry from '@layouts/WorkEntry.astro';

export async function getStaticPaths() {
	const posts = await getCollection('work');
	return posts.map((post) => ({
		params: { slug: post.slug },
		props: post,
	}));
}

const post = Astro.props;
const { Content } = await post.render();
---

<WorkEntry {...post.data}>
	<h1>{post.data.title}</h1>
	<Content />
</WorkEntry>
