---
import type { CollectionEntry } from 'astro:content';
import BaseHead from '@components/BaseHead.astro';
import Header from '@components/Header.astro';
import Footer from '@components/Footer.astro';
import "@styles/work-post.css"

type Props = CollectionEntry<'work'>['data'];

const { title, description, pubDate, updatedDate, heroImage } = Astro.props;
---

<html lang="es">
	<head>
		<BaseHead title={title} description={description} />
	</head>

	<body>
		<Header />
		<main class="workPost__main">
			<article class="workPost__hero">
				{heroImage && <img class="image cover" src={heroImage} alt={`${title}-hero`} loading="lazy" fetchpriority="high"/>}
			</article>
			<slot />
		</main>
		<Footer />
	</body>
</html>
<style>
  body {
    margin: 0;
    padding: 0;
  }
</style>
